.accordeon
    h3 PAGES WIDGET
    .accordeon__block
        .accordeon__fixed 
            .accordeon__trigger  
                span Home
                a.accordeon__activator(href="javascript:void(0)") 
            .accordeon__hidden
                ul
                    li
                        a(href="javascript:void(0)") Service
                    li
                        a(href="javascript:void(0)") FAQ
                    li
                        a(href="javascript:void(0)") About
        .accordeon__fixed 
            .accordeon__trigger  
                span Pages
                a.accordeon__activator(href="javascript:void(0)") 
            .accordeon__hidden
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
        .accordeon__fixed
            .accordeon__trigger   
                span Portfolio
                a.accordeon__activator(href="javascript:void(0)") 
            .accordeon__hidden
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
        .accordeon__fixed 
            .accordeon__trigger  
                span Blog
                a.accordeon__activator(href="javascript:void(0)") 
            .accordeon__hidden
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
        .accordeon__fixed
            .accordeon__trigger   
                span Shop
                a.accordeon__activator(href="javascript:void(0)") 
            .accordeon__hidden
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service
                ul
                    li
                        a(href="javascript:void(0)") Service