.article
	.frame__wrapper
		<iframe class="frame" width="640" height="360" src="https://www.youtube.com/embed/W6HNM1CZidw?list=FLEdWN7pu6IIPU309uLYvctw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	.article__text
		h2 10 Things To Do To Change Your Life Forever
		br
		p The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.
		hr
	.article__author
		.author__img
			img(src="../../dist/img/Photo.png", alt="")
		.author__text
			h3 Henry Little
			br
			p April 28, 2016   10:15
		.author__btn
			img(src="../../dist/img/more_vert.png", alt="")

	

		