.article
	.frame__wrapper
		//- img(src="https://bipbap.ru/wp-content/uploads/2017/10/00-russia-new-year-2017-020117-640x480.jpg", alt="")
		<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	.article__text
		h2 10 Things To Do To Change Your Life Forever
		p The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.
		hr
	
		.article__author
			.author__img
				img(src="../../dist/img/Photo.png", alt="")
			.author__text
				a(href="#") Henry Little
				
				p April 28, 2016   10:15
			.author__btn 
				a(href="#")
					img(src="../../dist/img/more_vert.png", alt="")
.row
	.col-lg-12
		.article.article--horizontal
			.frame__superwrap
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--horizontal
				.article__text.article__text--horizontal
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--horizontal
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")
.row
	.col-lg-12
		.article.article--horizontal
			.frame__superwrap
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--horizontal
				.article__text.article__text--horizontal
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--horizontal
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")
.row
	.col-lg-12
		.article.article--horizontal
			.frame__superwrap
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--horizontal
				.article__text.article__text--horizontal
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--horizontal
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")

.row
	.col-lg-4
		.article.article--vertical
			.frame__superwrap.frame__superwrap--vertical
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--vertical
				.article__text.article__text--vertical
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--vertical
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")
	.col-lg-4
		.article.article--vertical
			.frame__superwrap.frame__superwrap--vertical
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--vertical
				.article__text.article__text--vertical
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--vertical
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")
	.col-lg-4
		.article.article--vertical
			.frame__superwrap.frame__superwrap--vertical
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--vertical
				.article__text.article__text--vertical
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--vertical
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")

.row
	.col-lg-6
		.article.article--vertical
			.frame__superwrap.frame__superwrap--vertical
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--vertical
				.article__text.article__text--vertical
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--vertical
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")
	.col-lg-6
		.article.article--vertical
			.frame__superwrap.frame__superwrap--vertical
				.frame__wrapper
					<iframe class="frame" width="560" height="315" src="https://www.youtube.com/embed/wCc2v7izk8w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			.article__wrap.article__wrap--vertical
				.article__text.article__text--vertical
					h2.article__text--caption 10 Things To Do To Change Your Life Forever
					p.article__text--desctiption Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. 
					hr
				.article__author.article__author--vertical
					.author__img
						img(src="../../dist/img/Photo.png", alt="")
					.author__text
						a(href="#") Henry Little
						
						p April 28, 2016   10:15
					.author__btn 
						a(href="#")
							img(src="../../dist/img/more_vert.png", alt="")