- var values = ['Photography', 'Illustration', 'Graphic Design', 'Web design', 'Vedeography'];
- var numbers = [19,15,36,22,17]

h3.widget__title Categories
ul.widget__list
  each val, index in values.length ? values : ['There are no values']
    li.widget__item= val
      span.widget__numbers= numbers[index]