- var values = ['Photography #[span 19]', 'Illustration #[span 15]', 'Graphic Design #[span 36]', 'Web design #[span 22]', 'Vedeography #[span 17]'];
h3 Categories
ul
  each val in values.length ? values : ['There are no values']
    li!= val