.flickr.form-mail__darkbg
    .flickr__caption
        h3 Flickr Widget
    .flickr__superwrap
        .flickr__wrap
            img.flickr__item(src="./img/flickr/1.png", alt="")
        .flickr__wrap
            img.flickr__item(src="./img/flickr/2.png", alt="")
        .flickr__wrap
            img.flickr__item(src="./img/flickr/3.png", alt="")
        .flickr__wrap
            img.flickr__item(src="./img/flickr/4.png", alt="")
        .flickr__wrap
            img.flickr__item(src="./img/flickr/5.png", alt="")
        .flickr__wrap
            img.flickr__item(src="./img/flickr/6.png", alt="")