.form
    form.form__search.form__search--blog(action="", method="get")
        .input.input__flex
            input.input__search(type="text" placeholder='Search')
            button.icon.icon--big.icon--pink.icon--round.icon--search(type="submit")
                i.fas.fa-search