form.form__search.form__search--blog(action="", method="get")
    input.input__search.input(type="text" placeholder='Search')
    button.icon.icon--big.icon--pink.icon--round.icon--search(type="submit")
        i.fas.fa-search