.form-mail.form-mail__darkbg
    .form-mail__caption 
        h3 News Letter
    .form-mail__field
        input.form-mail__input(placeholder="Name", type="text")
    .form-mail__field
        input.form-mail__input(placeholder="Email Address", type="email")
    .form-mail__field
        textarea.form-mail__textarea(placeholder="Message", name="", cols="30", rows="3")
    input.form-mail__submit(type="submit" value="Subscribe")