mixin icon(modifiersArray, classesArray)
    a(href="javascript:void(0)", class=`icon icon--${modifiersArray.join(' icon--')}`)
        i(class=`${classesArray.join(' ')}`)

//- <a class="icon icon--gray icon--small" href="javascript:void(0)">
//-     <i class="fab fa-facebook-f"></i>
//- </a>
                