.navbar
    .container
        .row
            .col
                .navbar__block.d-flex.justify-content-between.flex-nowrap.align-items-center
                    .logo
                        p Pasco
                    +navigation(['Home',['Portfolio','subnav','subnav'],'Blog','Pages','Shop','components','Features'])
                    ul.icongroup.__icongroup
                        li.icongroup__item
                            a(href='javascript:void(0)').icon.icon--white
                                i.fas.fa-search
                        li.icongroup__item
                            a(href='javascript:void(0)').icon.icon--white
                                i.fas.fa-heart
                        li.icongroup__item
                            a(href='javascript:void(0)').icon.icon--white
                                i.fas.fa-shopping-cart