.swiper-container.slider
    .swiper-wrapper.slider__wrapper
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
            .slide
                .slide__wrap
                    a.slide__category(href="#") INSPIRATION
                    h1.slide__text 5 WAYS MILLEANNIANS CAN START <br> BULDING THEIR FUTURE TODAY
                    a.btn(href="#") READ MORE 
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
    .swiper-button-prev.slider__btn.slider__btn--prev
    .swiper-button-next.slider__btn.slider__btn--next