.swiper-container.slider
    .swiper-wrapper.slider__wrapper
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
            .slide
                .slide__wrap
                    a.slide__category(href="#") INSPIRATION
                    h1.slide__text 5 WAYS MILLEANNIANS CAN START <br> BULDING THEIR FUTURE TODAY
                    a.btn.btn--primary(href="#") read more
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
        .swiper-slide.slider__item
            img(src="./img/slide0.png", alt="").slider__img
    .js-slider-button-prev.slider__btn.slider__btn--prev
        <i class="material-icons">keyboard_arrow_left</i>
    .js-slider-button-next.slider__btn.slider__btn--next
        <i class="material-icons">keyboard_arrow_right</i>