.section.section--black
    .container
        .socwid
            p.socwid__title SOCIAL WIDGET
                    
                        a(href='javascript:void(0)').socwid.socwid
                            img.socwid--facebook(url="https://banner2.kisspng.com/20171216/213/facebook-logo-png-5a35528eaa4f08.7998622015134439826976.jpg")
                                
                        a(href='javascript:void(0)').socwid.socwid
                            img.socwid--twitter1(url="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png")
                               
                        a(href='javascript:void(0)').socwid.socwid
                            img.socwid--vk(url="http://pngimg.com/uploads/vkontakte/vkontakte_PNG3.png")
                    
                        a(href='javascript:void(0)').socwid.socwid--red
                            i.fab fa-pinterest
                    
                        a(href='javascript:void(0)').socwid.socwid
                            img.socwid--tumblr(url="https://cdn.icon-icons.com/icons2/808/PNG/512/tumblr_icon-icons.com_66098.png")
                    
                        a(href='javascript:void(0)').socwid.socwid--pink
                            i.fab fa-dribbble
