h3.social__title TWITTER WIDGET
ul.twitter__list
    li.twitter__item
        i.fab.fa-twitter.fa-twetter--blue
        p.twitter__paragraph &#64;PASCO, Duis commodo elit sed nisi molestie
        p.twitter__links 2 hours ago  &rarr;         
            a.twitter__link(href="") Reply
            a.twitter__link(href="") Retweet
            a.twitter__link(href="") Favorite
    li.twitter__item
        i.fab.fa-twitter.fa-twetter--blue
        p.twitter__paragraph @PASCO, Duis commodo elit sed nisi molestie
        p.twitter__links 2 hours ago  &rarr;         
            a.twitter__link(href="") Reply
            a.twitter__link(href="") Retweet
            a.twitter__link(href="") Favorite
    li.twitter__item
        i.fab.fa-twitter.fa-twetter--blue
        p.twitter__paragraph @PASCO, Duis commodo elit sed nisi molestie
        p.twitter__links 2 hours ago  &rarr;         
            a.twitter__link(href="") Reply
            a.twitter__link(href="") Retweet
            a.twitter__link(href="") Favorite

h3.social__title SOCIAL WIDGET
.form__social.form__social--blog
    ul.social.social--blog
        each val, index in [[['big', 'round', 'facebook'],['fab','fa-facebook-f']], [['big', 'round', 'twitter'],['fab','fa-twitter']],[['big', 'round', 'vk'],['fab','fa-vk']],[['big', 'round', 'print'],['fab','fa-pinterest-p']],[['big', 'round', 'google'],['fab','fa-google-plus-g']],[['big', 'round', 'dribble'],['fab','fa-dribbble']]]
            li.social__item.social__item--blog: +icon(val[0], val[1], val[2])
