.section.section--black
    .container
        .socwid
            p.socwid__tittle SOCIAL WIDGET  
            ul(class='socwid socwid--blog')
                li(class='socwid__item socwid__item--facebook')
                    a(class='icon icon--big icon--round icon--facebook' href='javascript:void(0)').socwid.socwid 
                         i(class='fab fa-facebook-f')
                li(class='socwid__item socwid__item--twitter1')                                
                    a(class='icon icon--big icon--round icon--twitter' href='javascript:void(0)').socwid.socwid 
                        i(class='fab fa-twitter')
                li(class='socwid__item socwid__item--vk')       
                    a(class='icon icon--big icon--round icon--vk' href='javascript:void(0)').socwid.socwid 
                        i(class='fab fa-vk')
                li(class='socwid__item socwid__item--print')       
                    a(class='icon icon--big icon--round icon--print' href='javascript:void(0)').socwid.socwid 
                        i(class='fab fa-pinterst')
                li(class='socwid__item socwid__item--tumblr')        
                    a(class='icon icon--big icon--round icon--tumblr-square' href='javascript:void(0)').socwid.socwid 
                        i(class='fab fa-tumblr') 
                li(class='socwid__item socwid__item--dribbble')      
                    a(class='icon icon--big icon--round icon--dribble' href='javascript:void(0)').socwid.socwid 
                        i(class='fab fa-dribbble')       
