.sort
    p.sort_title Sort blog:
    .sort_items
        button.btn.btn--sort All
        button.btn.btn--sort Photography
        button.btn.btn--sort Lifestyle
        button.btn.btn--sort Trip
        button.btn.btn--sort Inspiration