.section.section--white
    .container
        .sort
            p.sort__title sort blog:
            .sort__items
                button.btn.btn--sort All
                button.btn.btn--sort Photography
                button.btn.btn--sort Lifestyle
                button.btn.btn--sort Trip
                button.btn.btn--sort Inspiration