.form.form--section
    form.container.form__subscribe.form__subscribe--section
        .input.input__flex.input__flex--subscribe
            label.slide__text.form__label--subscribe(for="email") Subscribe to our newsletter
            input.input__subscribe(type="name" placeholder='Email adress' id='email')
            button.btn.btn--blue.btn--ellipse(type="submit") subcribe