section.form.form--section
    form.form__subscribe.form__subscribe--section
        .input.input__flex.input__flex--subscribe
            label.form__label.form__label--subscribe(for="email") Subscribe to our newsletter
            input.input__subscribe(type="name" placeholder='Name' id='email')
            button.btn.btn--big.btn--blue.btn--ellipse(type="submit") subcribe