.container
    .col-6
        .post
            .post__img
                img(src="../../../dist/img/postimg1.png", alt="")
            .post__text
                p April 28, 2016
                h3 Lorem ipsum dolor sit amet consectetur.
            .post__icon
                i.fas.fa-comments 
        hr    
        .post
            .post__img
                img(src="../../../dist/img/postimg2.png", alt="")
            .post__text
                p April 28, 2016
                h3 Lorem ipsum dolor sit amet consectetur.
            .post__icon
                i.fas.fa-comments 
        hr    
        .post
            .post__img
                img(src="../../../dist/img/postimg3.png", alt="")
            .post__text
                p April 28, 2016
                h3 Lorem ipsum dolor sit amet consectetur.
            .post__icon
                i.fas.fa-comments        