.slide
    .slide__text
        ul.slide__category-list 
            li.slidecategory: a.slide__category-link(href="#") INSPIRATION
            li.slidecategory: h1.slide__category-text 5 WAYS MILLEANNIANS CAN START <br> BULDING THEIR FUTURE TODAY
            li.slidecategory: a.slide__category-buttom(href="#") READ MORE 