.slide
    .slide__wrap
        a.slide__category(href="#") INSPIRATION
        h1.slide__text 5 WAYS MILLEANNIANS CAN START <br> BULDING THEIR FUTURE TODAY
        a.slide__button(href="#") READ MORE 