section.topbar
    .container
        .row
            .col.d-flex.justify-content-between.flex-nowrap
                .social-wrapper
                    ul.social.social--top
                        each val in [['gray', 'small'],['fab','fa-google-plus'], ['gray', 'small'],['fab','fa-google-plus']]
                            +icon(val)
                .auth
