section.topbar
    .row
        .col.d-flex.justify-content-between.flex-nowrap
            .social-wrapper
                ul.social.social--top
                    each social_ico in ['fab fa-google-plus']
                        li.social__item.social__item--top
                            a(href="javascript:void(0)").social__link.social__link--top.icon.icon--gray.icon--small
                                i(class="" +social_ico)
            .auth
