ul.icongroup
    li.icongroup__item
        a(href='javascript:void(0)').icon.icon--gray.icon--small
        span.icon__text sign in
            i.fas.fa-user-circle
    li.icongroup__item
        a(href='javascript:void(0)').icon.icon--gray.icon--small.icon--dropdown
            span.icon__text eng
            i.fas.fa-globe-americas