.icongroup
    a(href="#").icongroup__item Sign in
        i.fas.fa-globe-americas.icon.icon--gray.icon--small
    a(href="#").icongroup__item ENG
        i.fas.fa-user-circle.icon.icon--gray.icon--small
        
    