.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: filter .1s linear,  transform .1s linear;
	&--gray {
		color: #707070;
		filter: grayscale(1);  
	}
	&:hover {
		filter: brightness(1.2);
		transform: scale(1.1);
		z-index: 2;
		text-decoration: none;
		cursor: pointer;
   }
   	&--auth {
		   display: flex;
		   align-content: center;
	   }
	&--small {
		font-size: 16px;
		font-weight: 400;
		height: 28px;
		width: 28px;
		line-height: 1.2;
	}
	&--big {
		font-size: 18px;
		height: 36px;
		width: 36px;
		line-height: 1;
	}
	&--round {
		border-radius: 50%;
		border: none;
		background-color: transparent;
		box-shadow: none;
		color: white;
	}
	&--pink {
		background-color: #ff4081;
	}
	&--search {
		margin-left: -39px;
		margin-top: 3px;
		z-index: 3;
	}
    &__text{
        text-decoration: none;
        opacity: 0.5;
        color: white;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
		font-variant: small-caps;
		padding-left: 8px;
	}
	&--dropdown:after{
		border-style: solid;
		border-width: 0.15em 0.15em 0 0;
		content: '';
		display: inline-block;
		height: 0.45em;
		left: 0.15em;
		position: relative;
		top: 0;
		transform: rotate(135deg);
		vertical-align: top;
		width: 0.45em;
		margin-left: 8px;
	}
}