.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #707070;
    &--gray {
       filter: grayscale(1);
       transition: filter .1s linear,  transform .1s linear;
       &:hover {
            filter: brightness(1.2);
            transform: scale(1.1);
            z-index: 2;
            filter: grayscale(1);
            text-decoration: none;
       }
    }
    &--small {
        font-size: 16px;
        font-weight: 400;
        height: 28px;
        width: 28px;
        line-height: 1.2;
    }
}