.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 70px;
        position: relative;
        list-style: none;
    }
    &__item {
        position: relative;
    }
    &__link {
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        height: 70px;
        display: inline-flex;
        align-items: center;
        padding: 0 25px;
        &--with-subnav {
            padding-right: 20px;
        }
    }
}

.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}