$blue: rgb(63, 81, 181);

.sort {
    display: flex;
    &__title {
        font-weight: 700;
        font-variant: small-caps;
        letter-spacing: 0.8px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
}