$blue: rgb(63, 81, 181);

.sort {
    display: flex;
    &__title {
        font-weight: 700;
        font-variant: small-caps;
        letter-spacing: 0.8px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    .btn--sort {
        margin-left: 15px;
        padding: 10px 30px;
        border-radius: 15px;
        &:hover {
            color: $blue;
            border: 1px solid $blue;
        }
    }
}
