.slide__category-text {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: whitesmoke;
}
.slide__category-buttom {
  border-radius: 25px;
  width: 167px;
  padding: 18px;
  background-color: #303f9f;
  height: 17px;
}
.slide__category-buttom {
  color: white;
  text-decoration: none;
}
.slide__category-link {
  text-decoration: none;
  color: #bdbdbe;
}
.slide {
  text-align: center;
}