.slide {
  	text-align: center;
	&__wrap {
		max-width: 750px;
	}
	&__category {
		text-decoration: none;
		color: #bdbdbe;
	}
	&__button {
		color: white;
		text-decoration: none;
		border-radius: 25px;
		width: 167px;
		padding: 18px;
		background-color: #303f9f;
		height: 17px;
	}
	&__text {
		font-family: 'Montserrat Subrayada', sans-serif;
		font-size: 42px;
		font-weight: bold;
		color: whitesmoke;
	}
}