h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: white; }

.superbuttom {
  border-radius: px;
  width: 160px;
  text-align: center;
  padding: px;
  background-color: blue; }
