include ./mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home page
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
        link(rel="stylesheet", href="./css/style.css")
        //- link(rel="stylesheet", href="./plugins/fancybox/jquery.fancybox.min.css")
        <link rel="stylesheet" href="./plugins/owl.carousel.js/owl.carousel.min.css">
        <link rel="stylesheet" href="./plugins/owl.carousel.js/owl.theme.default.min.css">
        <link href="./plugins/lightbox/css/lightbox.css" rel="stylesheet">
    body
        include ./blocks/_topbar
        include ./blocks/_navbar
        include ./blocks/_slider
        include ./blocks/_galerry
<<<<<<< HEAD
=======
       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
        script(src="./js/scripts.js")
        script(src="./plugins/fancybox/jquery.fancybox.min.js")
        script(src="./plugins/owl.carousel.js/owl.carousel.min.js")
>>>>>>> 51ba4e9aeb896fa05c49c307cb55a405e1ec1f3d
        include ./blocks/_sort
        include ./blocks/_subscribe
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
        //- script(src="./plugins/fancybox/jquery.fancybox.min.js")
        script(src="./plugins/owl.carousel.js/owl.carousel.min.js")
        <script src="./plugins/lightbox/js/lightbox.js"></script>
        script(src="./js/scripts.js")
        
