include ./mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home page
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./plugins/owl.carousel.js/owl.carousel.min.css">
        <link rel="stylesheet" href="./plugins/owl.carousel.js/owl.theme.default.min.css">
        <link href="./plugins/lightbox/css/lightbox.css" rel="stylesheet">
        link(rel="stylesheet", href="./css/style.css")
    body
        include ./blocks/_topbar
        include ./blocks/_navbar
        include ./blocks/_slider
        include ./blocks/_sort
        .blog
            .container
                .row
                    .col-lg-9
                        include ./blocks/_blog
                    .col-lg-3
                        aside
                            include ./blocks/_form--search
                            include ./blocks/_categories
                            include ./blocks/_form--subscribe
                            
        include ./blocks/_galerry
        include ./blocks/_subscribe
        include ./blocks/_form--mail
        include ./blocks/_flickr-widget
        include ./blocks/_footer-menu
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
        script(src="./plugins/owl.carousel.js/owl.carousel.min.js")
        <script src="./plugins/lightbox/js/lightbox.js"></script>
        script(src="./js/scripts.js")
